n8n/Farmacia_Inventario.json
{
  "name": "Farmacia Inventario",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folderName",
              "value": "C:/gestion/Cuadros de control/Contratos/"
            }
          ]
        },
        "options": {}
      },
      "id": "d56fe800-6fac-4d49-87d8-a95d485b42b9",
      "name": "Names",
      "type": "n8n-nodes-base.set",
      "position": [
        760,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Variables",
        "height": 201,
        "width": 319.5405405405405
      },
      "id": "6252a476-16b3-429d-9b0a-4677378ea208",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n    { json: { procedureName: \"SP_IN_InventarioDiario\", \n              fileName: \"inventario\",\n              extName: \".xlsx\",\n              Year: 2026,\n              folderID: \"014SRZLAPQ6V5N774Y4BF3KKICA4ZSANSK\"} }\n];"
      },
      "id": "90ab3cbe-eaf0-48b0-9d5b-9923bb35f145",
      "name": "Procedures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC [{{ $json.procedureName }}]"
      },
      "id": "52997728-11df-479f-8f56-333220d5e8ad",
      "name": "Microsoft SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        600,
        780
      ],
      "executeOnce": false,
      "credentials": {
        "microsoftSql": {
          "id": "xRzG7R1O7BzKwMxp",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "compression": true,
          "fileName": "={{ $('Names').item.json.fileName }}{{ $('Names').item.json.extName }}"
        }
      },
      "id": "b92223da-56bb-4c0d-bd6a-06df8c23edf8",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        760,
        780
      ]
    },
    {
      "parameters": {
        "fileName": "=",
        "parentId": "={{ $('Names').item.json.folderID }}",
        "binaryData": true
      },
      "id": "c9d99f6f-08df-4697-9fa4-74711e8f22c7",
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        920,
        780
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Consulta",
        "height": 201,
        "width": 153.54054054054052
      },
      "id": "94689a34-82f0-407e-b801-e5eeda4bcd41",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Cargue",
        "height": 201,
        "width": 320.5405405405405
      },
      "id": "4f947e9f-101a-498d-8b94-eccc2976e209",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        740
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "Cuadro_consulta_farmacia"
      },
      "id": "cb8f232e-5b0b-45e2-aef2-dbcf0ff3f969",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        980,
        500
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "50595dd5-ea90-4e83-81ce-21408c327ed5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        540
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Names": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procedures": {
      "main": [
        [
          {
            "node": "Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Procedures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "158e677c-5a41-430c-8cda-33340777b054",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8cb6ce5b93c95bf063ce3b0d0459c218844b41c936a1e3d6979571250c96d64"
  },
  "id": "5MalLPsXiAVuZzZn",
  "tags": []
}