n8n/Procedimiento_ETL.json
{
  "name": "Procedimiento ETL",
  "nodes": [
    {
      "parameters": {
        "content": "## Variables",
        "height": 217.0756044906389,
        "width": 578.8721112077363
      },
      "id": "1a71e00d-c2f8-49d9-9e20-4f8e01a70909",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ImahTPb1ZL8BNMGb",
          "mode": "list",
          "cachedResultName": "Procedimiento SQL a XLSX"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ba820363-5e86-49d1-b809-d97f3e09d50d",
      "name": "Execute Workflow Download",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        380,
        660
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Execute Workflow Trigger').item.json.folderName }}{{ $('Execute Workflow Trigger').item.json.fileName }}{{ $('Execute Workflow Trigger').item.json.extName }}",
        "options": {
          "fileExtension": "={{ $('Execute Workflow Trigger').item.json.extName }}",
          "fileName": "={{ $('Execute Workflow Trigger').item.json.fileName }}_{{ $('Names').item.json.startDate }}_{{ $('Names').item.json.endDate }}{{ $('Execute Workflow Trigger').item.json.extName }}",
          "dataPropertyName": "data"
        }
      },
      "id": "9bdffb2a-a155-4ae7-aa40-69b53b284d37",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        580,
        660
      ],
      "executeOnce": true,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "parentId": "={{ $('Execute Workflow Trigger').item.json.folderID }}",
        "binaryData": true
      },
      "id": "546a5855-5ca3-4648-a3be-f512a327194b",
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        760,
        660
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "dashboard"
      },
      "id": "0162d558-e381-4b7f-b4b0-1d06b5525225",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        980,
        460
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folderName",
              "value": "={{ $('Execute Workflow Trigger').item.json.folderName }}"
            },
            {
              "name": "procedureName",
              "value": "={{ $('Execute Workflow Trigger').item.json.procedureName }}"
            },
            {
              "name": "fileName",
              "value": "={{ $('Execute Workflow Trigger').item.json.fileName }}"
            },
            {
              "name": "extName",
              "value": "={{ $('Execute Workflow Trigger').item.json.extName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33c8fff3-054c-43a6-9a14-a506440a5f22",
      "name": "Names",
      "type": "n8n-nodes-base.set",
      "position": [
        760,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "239eaa75-88f7-46af-9447-f34cdcf6311c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "08k9xdf0VByNBZM2",
          "mode": "list",
          "cachedResultName": "Fechas"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "3a0c8303-1bcc-43ff-84ed-c400e3d9ff8f",
      "name": "Execute Workflow Dates",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        580,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Download": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Names": {
      "main": [
        [
          {
            "node": "Execute Workflow Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Dates": {
      "main": [
        [
          {
            "node": "Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72ef9345-5e80-4e64-a6a6-c77473fc810d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8cb6ce5b93c95bf063ce3b0d0459c218844b41c936a1e3d6979571250c96d64"
  },
  "id": "zHVOCIcKp1yNh0KU",
  "tags": []
}