n8n/Procedimiento_SQL_a_CSV.json
{
  "name": "Procedimiento SQL a CSV",
  "nodes": [
    {
      "parameters": {
        "content": "## Guardar el resultado a XLSX",
        "height": 242,
        "width": 399
      },
      "id": "7347ec72-fb2f-4478-a89d-db85188959b0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC [{{ $('Execute Workflow Trigger').item.json.procedureName }}] '{{ $('Execute Workflow Trigger').item.json.startDate }}','{{ $('Execute Workflow Trigger').item.json.addDate }}'"
      },
      "id": "9efc0ccd-4cc8-4fe7-b59b-4199d6c72cc2",
      "name": "Microsoft SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        940,
        440
      ],
      "credentials": {
        "microsoftSql": {
          "id": "xRzG7R1O7BzKwMxp",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cafc69ec-1101-4d38-ad9a-bfccc343706a",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1140,
        440
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Execute Workflow Trigger').item.json.folderName }}{{ $('Execute Workflow Trigger').item.json.fileName }}",
        "options": {}
      },
      "id": "ab20b4d9-ac08-4c5b-9e6f-9707e363abc8",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1340,
        440
      ]
    },
    {
      "parameters": {
        "content": "## Ejecutar el procedimiento",
        "height": 242,
        "width": 341
      },
      "id": "8c31f8ea-4166-4910-81f7-6e29e9fdcbee",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {},
      "id": "e679b706-6562-45ac-b7c6-cf8c87e12edc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        760,
        440
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "064825b2-1112-48d8-a6e9-587961559fdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8cb6ce5b93c95bf063ce3b0d0459c218844b41c936a1e3d6979571250c96d64"
  },
  "id": "N2MT5B1JZew9qtME",
  "tags": []
}