n8n/Procedimiento_ETL.json
{
  "name": "Procedimiento ETL",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d0e80f83-a090-46ec-a162-e0a7c7fa2547",
      "name": "Today",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Variables",
        "height": 358.8413702564046,
        "width": 952.8811202167453
      },
      "id": "8b7872aa-dc87-4c97-be1a-a87882b9aa52",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        349,
        420
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N2MT5B1JZew9qtME",
          "mode": "list",
          "cachedResultName": "Procedimiento SQL a CSV"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "f0ced33d-05a9-40c6-8f97-9c98543c7854",
      "name": "Execute Workflow Download",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        380,
        840
      ]
    },
    {
      "parameters": {
        "command": "=cd {{ $('Execute Workflow Trigger').item.json.folderName }} && {{ $('Execute Workflow Trigger').item.json.commandName }}"
      },
      "id": "9682390c-2e91-4f52-8dad-611e2f092520",
      "name": "Execute Command oportunidad_cita",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        580,
        840
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Execute Workflow Trigger').item.json.folderName }}{{ $('Execute Workflow Trigger').item.json.resultName }}.xlsx",
        "options": {
          "fileExtension": ".xlsx",
          "fileName": "={{ $('Execute Workflow Trigger').item.json.resultName }}_{{ $('startDate').item.json.startDate }}_{{ $('endDate').item.json.endDate }}.xlsx",
          "dataPropertyName": "data"
        }
      },
      "id": "5abf523c-91e1-44c6-9c96-f29335b98254",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        780,
        840
      ],
      "executeOnce": true,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "parentId": "={{ $('Execute Workflow Trigger').item.json.folderID }}",
        "binaryData": true
      },
      "id": "dc9feac4-6006-41b2-89aa-0a4eca4238ab",
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        980,
        840
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "dashboard"
      },
      "id": "fc0d7c24-44e7-4526-85c0-2058411cfaef",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1180,
        840
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.currentDate }}",
        "duration": "={{ $('Execute Workflow Trigger').item.json.startDay }}",
        "outputFieldName": "setStartDate",
        "options": {}
      },
      "id": "511669c2-da2e-4cd3-9c8f-634719574989",
      "name": "setStartDate",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        460
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.setStartDate }}",
        "format": "=yyyyMMdd",
        "outputFieldName": "startDate",
        "options": {}
      },
      "id": "6c62dd52-3590-44ff-bd63-5478ae762555",
      "name": "startDate",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        980,
        460
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Today').item.json.currentDate }}",
        "duration": "={{ $('Execute Workflow Trigger').item.json.endDay }}",
        "outputFieldName": "setEndDate",
        "options": {}
      },
      "id": "d29b6a9a-44fd-4b4f-bf8b-67c6e2e0a3d0",
      "name": "setEndDate",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        380,
        640
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.setEndDate }}",
        "format": "=yyyyMMdd",
        "outputFieldName": "endDate",
        "options": {}
      },
      "id": "3161dfc7-5cf6-4723-97f2-1c52e853b166",
      "name": "endDate",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        640
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('setEndDate').item.json.setEndDate }}",
        "duration": "={{ $('Execute Workflow Trigger').item.json.addDay }}",
        "outputFieldName": "setAddDate",
        "options": {}
      },
      "id": "3eea876c-3e7d-4986-9d7f-8746f63286e6",
      "name": "setAddDate",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        640
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.setAddDate }}",
        "format": "=yyyyMMdd",
        "outputFieldName": "addDate",
        "options": {}
      },
      "id": "9ada1973-934b-4b96-95f4-aa914f5be0d4",
      "name": "addDate",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        980,
        640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folderName",
              "value": "={{ $('Execute Workflow Trigger').item.json.folderName }}"
            },
            {
              "name": "startDate",
              "value": "={{ $('startDate').item.json.startDate }}"
            },
            {
              "name": "procedureName",
              "value": "={{ $('Execute Workflow Trigger').item.json.procedureName }}"
            },
            {
              "name": "fileName",
              "value": "={{ $('Execute Workflow Trigger').item.json.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62bdc5c4-6e51-40d2-a001-3320eff1b483",
      "name": "Names",
      "type": "n8n-nodes-base.set",
      "position": [
        1180,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "29e5a60d-5941-426f-9038-2ca00ea914ca",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Today": {
      "main": [
        [
          {
            "node": "setStartDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Download": {
      "main": [
        [
          {
            "node": "Execute Command oportunidad_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command oportunidad_cita": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setStartDate": {
      "main": [
        [
          {
            "node": "startDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "startDate": {
      "main": [
        [
          {
            "node": "setEndDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setEndDate": {
      "main": [
        [
          {
            "node": "endDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "endDate": {
      "main": [
        [
          {
            "node": "setAddDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setAddDate": {
      "main": [
        [
          {
            "node": "addDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addDate": {
      "main": [
        [
          {
            "node": "Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Names": {
      "main": [
        [
          {
            "node": "Execute Workflow Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18ec64e5-6f41-407f-b53d-08219570e184",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8cb6ce5b93c95bf063ce3b0d0459c218844b41c936a1e3d6979571250c96d64"
  },
  "id": "RF1SwhUOyNOyWOAW",
  "tags": []
}