n8n/Procedimiento_ETL_con_EXE.json
{
  "name": "Procedimiento ETL con EXE",
  "nodes": [
    {
      "parameters": {
        "content": "## Variables",
        "height": 217.0756044906389,
        "width": 578.8721112077363
      },
      "id": "8b7872aa-dc87-4c97-be1a-a87882b9aa52",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        420
      ]
    },
    {
      "parameters": {
        "parentId": "={{ $('Execute Workflow Trigger').item.json.folderID }}",
        "binaryData": true
      },
      "id": "dc9feac4-6006-41b2-89aa-0a4eca4238ab",
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        980,
        660
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "dashboard"
      },
      "id": "fc0d7c24-44e7-4526-85c0-2058411cfaef",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        980,
        460
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "XBqwz5AhoXkFFYNT",
          "name": "Microsoft Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folderName",
              "value": "={{ $('Execute Workflow Trigger').item.json.folderName }}"
            },
            {
              "name": "procedureName",
              "value": "={{ $('Execute Workflow Trigger').item.json.procedureName }}"
            },
            {
              "name": "fileName",
              "value": "={{ $('Execute Workflow Trigger').item.json.fileName }}"
            },
            {
              "name": "extName",
              "value": "={{ $('Execute Workflow Trigger').item.json.extName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62bdc5c4-6e51-40d2-a001-3320eff1b483",
      "name": "Names",
      "type": "n8n-nodes-base.set",
      "position": [
        760,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "29e5a60d-5941-426f-9038-2ca00ea914ca",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "command": "=cd {{ $('Execute Workflow Trigger').item.json.folderName }} && {{ $('Execute Workflow Trigger').item.json.commandName }}"
      },
      "id": "9682390c-2e91-4f52-8dad-611e2f092520",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        580,
        660
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "08k9xdf0VByNBZM2",
          "mode": "list",
          "cachedResultName": "Fechas"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "96268c46-8351-4e57-9174-ed52dd83ed50",
      "name": "Execute Workflow Dates",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        580,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "478170f4-537a-42d4-8627-b7e93fa58d25",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.typeMonth }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "426b300c-f0ee-4658-92c8-1d6c31af83af",
      "name": "If typeMonth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        860
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Execute Workflow Trigger').item.json.folderName }}{{ $('Execute Workflow Trigger').item.json.resultName }}.xlsx",
        "options": {
          "fileExtension": ".xlsx",
          "fileName": "={{ $('Execute Workflow Trigger').item.json.resultName }}_{{ $('Names').item.json.yearMonth }}.xlsx",
          "dataPropertyName": "data"
        }
      },
      "id": "113e7bdd-12d6-4d5c-accb-925174de5371",
      "name": "Read/Write Files from Disk - yearMonth",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        780,
        660
      ],
      "executeOnce": true,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Execute Workflow Trigger').item.json.folderName }}{{ $('Execute Workflow Trigger').item.json.resultName }}.xlsx",
        "options": {
          "fileExtension": ".xlsx",
          "fileName": "={{ $('Execute Workflow Trigger').item.json.resultName }}_{{ $('Names').item.json.startDate }}_{{ $('Names').item.json.endDate }}.xlsx",
          "dataPropertyName": "data"
        }
      },
      "id": "5abf523c-91e1-44c6-9c96-f29335b98254",
      "name": "Read/Write Files from Disk - Days",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        780,
        860
      ],
      "executeOnce": true,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N2MT5B1JZew9qtME",
          "mode": "list",
          "cachedResultName": "Procedimiento SQL a CSV"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "f3922f37-1dab-4a36-8761-ba9a4c1fabe1",
      "name": "Execute Workflow Download - CSV",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        380,
        860
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ImahTPb1ZL8BNMGb",
          "mode": "list",
          "cachedResultName": "Procedimiento SQL a XLSX"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "f0ced33d-05a9-40c6-8f97-9c98543c7854",
      "name": "Execute Workflow Download - XLSX",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        380,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "478170f4-537a-42d4-8627-b7e93fa58d25",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.typeXLSX }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08bf2ee6-7cf9-44bc-98b2-f24809e8094c",
      "name": "If typeXLSX",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        660
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Names": {
      "main": [
        [
          {
            "node": "If typeXLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "If typeMonth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Dates": {
      "main": [
        [
          {
            "node": "Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If typeMonth": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk - yearMonth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk - Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk - yearMonth": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk - Days": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Download - CSV": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Download - XLSX": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If typeXLSX": {
      "main": [
        [
          {
            "node": "Execute Workflow Download - XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow Download - CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b40c2d9b-d2c4-4b29-aa85-15d5092aabe0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8cb6ce5b93c95bf063ce3b0d0459c218844b41c936a1e3d6979571250c96d64"
  },
  "id": "RF1SwhUOyNOyWOAW",
  "tags": []
}